body {
    color: black;
    margin: 0;
    height: 80vh;               
    display: grid;               
    place-items: center;

}

.formulaire {
    width: 300px;               
    padding: 20px;              
    border: 2px solid #333;     
    border-radius: 8px;         
    background-color: #f9f9f9;
    box-shadow:  12px 16px rgba(0, 0, 0, 0.1); 
    margin: 50px auto;          
    font-family: Arial, sans-serif;
}


.formulaire h1 {
    text-align: left;        
    color: #333;                
    font-size: 24px;            
    margin-bottom: 20px;        
}


.formulaire p {
    margin: 10px 0;             
    color: #555;                
}


.formulaire input[type="email"], .formulaire input[type="password"] {
    width: 100%;                
    padding: 10px;              
    margin: 10px 0;             
    border: 1px solid #ccc;     
    border-radius: 4px;         
    box-sizing: border-box;     
}

.formulaire input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.formulaire input[type="submit"] {
    width: 100%;                
    padding: 10px;              
    background-color: #4CAF50;  
    color: white;               
    border: none;               
    border-radius: 4px;         
    cursor: pointer;           
    font-size: 16px;            
}

.formulaire input[type="submit"]:hover {
    background-color: #218838;  
    border-color: #1e7e34;      
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}